{% extends "blogs/base.html" %}
{% load bootstrap3 %}

{% block header %}
  <nav class="blog-pagination">
        <h1>Posts</h1>
        <p><a class="btn btn-lg btn-primary" href="{% url 'blogs:new_post' %}" role="button">
            Add a new post</a></p>
  </nav>
{% endblock header %}

{% block content %}

  {% for post in posts %}
    <div class="blog-post">
            <h2 class="blog-post-title">{{ post.title }}</h2>
            <p class="blog-post-meta">{{ post.date_added|date:'Y M d' }} by 
                <a href="#">{{ post.author }}</a></p>
            <p>{{ post.content }}</p>
    </div><!-- /.blog-post -->
  {% empty %}
    <li>No post have been added yet.</li>
  {% endfor %}
    

{% endblock content %}