{% extends "upload_profile/base.html" %}

{% block header %}

    <h1 class="ts huge header">
        <span style="color: #3498bd;">Add my Face</span>
    </h1>

{% endblock header %}

{% block content %}
  
    <form class="ts form" action="{% url 'upload_profile:addmyface' %}" enctype="multipart/form-data" method="post">
        {% csrf_token %}
        <div class="field">
            <label for="user_name">Name:</label>
            <input type="text" name="user_name">
        </div>
        <div class="field">
            <label for="user_image">Photo:</label>
            <input type="file" name="user_image">
        </div>
        <div class="field">
            <label for="introduce">Introduce:</label>
            <textarea rows="4" cols="50" name="introduce"></textarea>
        </div>
        <input type="submit" value="確認">
    </form>        

{% endblock content %}