{% extends "upload_profile/base.html" %}
{% load static %} 

{% block header %}
    {% if themen == None %}
        <h1 class="ts huge header">
            <span style="color: #3498bd;">I don't know who you are!</span>
        </h1>
    {% else %}
        <h1 class="ts huge header">
            <span style="color: #3498bd;">You are</span>
        </h1>
    {% endif %}
    
{% endblock header %}

{% block content %}
    <div class="ts doubling four cards">
        {% if themen == None %}
            <div class="ts card">
                <div class="image">
                    <img src="{% static 'images/unnamed.jpg' %}" height="300" width="300">
                </div>
                <div class="content">
                    <div class="header">Unknown</div>
                    <div class="description">
                        <p>{{ themen.introduce }}</p>
                    </div>
                </div>
            </div>
        {% else %}
            <div class="ts card">
                <div class="image">
                    <img src="{{ themen.user_image.url }}">
                </div>
                <div class="content">
                    <div class="header">{{ themen.user_name }}</div>
                    <div class="description">
                        <p>{{ themen.introduce }}</p>
                    </div>
                </div>
            </div>
        {% endif %} 
    </div>

{% endblock content %}